/*-- scss:defaults --*/
$web-font-path: "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,300;1,500&family=Outfit:wght@200;400;500;700&display=swap";

$font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-heading: Outfit, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*-- scss:rules --*/
:root {
  --bs-font-family-heading: #{$font-family-heading};
  --font-outfit: #{$font-family-heading};
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 1.66em;
  margin-bottom: 0.66em;
}

.navbar-title, .navbar-nav .nav-item {
  font-family: $font-family-heading;
  font-weight: 400;
  letter-spacing: 1px;
}

#quarto-header .navbar .nav-link .menu-text {
  position: relative;
}

#quarto-header .navbar .nav-link .menu-text::after {
  height: 0.1rem;
  width: 0%;
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  transition: width 200ms ease-in-out;
}

#quarto-header .navbar .nav-link.active .menu-text::after {
  background-color: var(--red-50);
  width: 100%;
}

div.quarto-about-trestles {
  align-items: center;

  @include media-breakpoint-up(lg) {
    .about-entity {
      padding-right: 1.5em;
    }
  }

  @include media-breakpoint-down(lg) {
    .about-entity {
      padding-right: 0;
    }
  }
}

main.content img {
  max-width: 100%;
}

/* allow category tags to wrap with a little breathing room */
.quarto-title .quarto-categories {
	flex-wrap: wrap;
	gap: 0.4em;
}

.lead {
	margin-bottom: 2rem;
}

.nowrap {
	white-space: nowrap;
}

footer {
  a {
    text-decoration: none;
  }
  .nav-footer-left, .nav-footer-right {
    min-height: 3rem;
  }
}

kbd {
  font-size: 0.7rem;
  padding: 0.2em 0.6em;
  border: 1px solid $dropdown-border-color;
  font-family: $font-family-monospace;
  background-color: $code-bg;
  color: $body-color;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 1px $body-color inset;
  box-shadow: 0 1px 0px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px $body-color inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.2em;
  line-height: inherit;
  white-space: nowrap;
  vertical-align: 1px;
}

figcaption {
  padding-right: 1rem;
  color: var(--bs-tertiary-color);
  text-align: right;
}

.code-with-filename > div {
  border: 1px solid var(--quarto-border-color);
  padding: 0.66rem;
}

pre > code,
.code-with-filename-file strong {
  color: var(--bs-body-color);
}