.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown
.DS_Store
deploy.sh
public*/
ISSUES.md
.history/
content/project/sqrrl/index_cache/*
content/blog/2021/print-xaringan-chromote/index_cache/*
_*/
/_*.*md
/.quarto/

/.luarc.json
