{{ if site.Params.giscus.use_giscus }}
<div class="post-comments pa0 pa4-l mt4">
  {{ with site.Params.giscus }}
  <script src="https://giscus.app/client.js"
    data-repo="{{ .repo }}"
    data-repo-id="{{ .repo_id }}"
    data-category="{{ .category }}"
    data-category-id="{{ .category_id }}"
    data-mapping="{{ .pathname }}"
    data-reactions-enabled="{{ .reactions_enabled }}"
    data-emit-metadata="{{ .emit_metadata }}"
    data-theme="{{ .theme }}"
    data-lang="{{ .lang }}"
    crossorigin="anonymous"
    async>
  </script>
  {{ end }}
</div>
{{ else if not site.Params.utterances.use_utterances }}
<div class="post-comments pa0 pa4-l mt4">
{{ template "_internal/disqus.html" . }}
</div>

{{ else if site.Params.utterances.use_utterances }}
<div class="post-comments pa0 pa4-l mt4">
  {{ with site.Params.utterances }}
  <script src="https://utteranc.es/client.js"
          repo="{{ .repo_name }}"
          issue-term="{{ .issue_term }}"
          theme="{{ .theme }}"
          label="{{ .label }}"
          crossorigin="anonymous"
          async
          type="text/javascript">
  </script>
  {{ end }}
</div>
{{ end }}