{{ $page := . }}                           <!--save current page-->
{{ $section := $page.CurrentSection }}     <!--save branch section-->
{{ $root := .Scratch.Get "$root" }}     <!--save root section-->
<!-- <article class="mv4 mv5-l"> -->
<ul class="list pl0 mt0 measure-wide center">
  <li class="flex flex-column flex-row-ns lh-copy pa3 ph0-l0">
    {{ if .PublishDate }}
    <div class="summary-post-date mb2 mb0-ns o-60">
      <date class="f6">{{ .PublishDate.Format "2006-01-02" }}</date>
    </div>
    {{ end }}
    <div class="pl3-ns flex-auto">
      <h2 class="f4 db mt0 mb2 lh-title pointer"><a href="{{ .RelPermalink }}" class="db">{{ .Title | markdownify }}</a></h2>
      <span class="f5 db">{{ .Description | markdownify }}</span>
    </div>
  </li>
</ul>
