.wordle-solo {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  min-width: 8em;
}
#words-stats {
  text-align: center;
}
#wordle {
  position: relative;
}
#wordle > textarea {
  height: 0;
  width: 0;
  position: absolute;
  left: -100vw;
}
.wordle-row {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  max-width: 400px;
  margin: 1em auto;
}
.letter-wrapper {
  width: 3em;
}
.letter-wrapper + .letter-wrapper {
  margin-left: 1em;
}
.btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
}
.letter-action {
  width: 100%;
  height: 1em;
  display: flex;
  justify-content: space-between;
  margin-top: 0.25em;
}
.btn-letter-action {
  height: 100%;
  width: 1em;
  border-radius: 0;
  border: none;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.btn-letter-action + .btn-letter-action {
  margin-left: 3px;
}
.letter:hover,
.letter:focus,
.btn-letter-action:hover,
.btn-letter-action:focus,
.btn-row-action:hover,
.btn-row-action:focus {
  outline: 2px #80808080 solid;
  outline-offset: -2px;
}
.letter.letter-focus,
.letter.letter-focus:hover,
.letter.letter-focus:focus {
  outline: 2px solid var(--bs-warning);
}
.btn-row-action {
  display: block;
  padding: 0;
  border: 1px solid var(--bs-gary);
  color: var(--quarto-text-color);
  background-color: var(--bs-gray);
  font-size: 1.25em;
  border-radius: 5px;
  height: 1.5em;
  width: 1.5em;
}
.letter {
  grid-column: span 3 / 3;
  display: inline-flex;
  height: 1em;
  width: 1em;
  border: 2px rgba(125, 125, 125, 0.25) solid;
  justify-content: center;
  align-items: center;
  margin-top: 0.2em;
  padding: 3px;
  text-transform: uppercase;
  font-weight: 500;
}
.letter[contenteditable="true"] {
  caret-color: transparent;
}
.letter-large {
  font-size: 2em;
  height: 1.5em;
  width: 1.5em;
}
.absent {
  color: var(--bs-white);
  background-color: var(--bs-gray);
}
.correct {
  color: var(--bs-white);
  background-color: var(--bs-success);
}
.present {
  color: var(--bs-white);
  background-color: var(--bs-warning);
}
