@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto+Slab&display=swap");

:root {
  --background: #ffffff;
  --primary-dark: #002b36;
  --primary-light: #345865;
  --primary-accent: #00a6e1;
  --primary-washed: #edfcff;
  --accent: #31b09e;
  --accent-dark: #2c8475;
  --highlight: #87f9bb;
  --purple: #887ba3;
  --pink: #f9b3ce;
  --orange: #f79334;
  --red: #dc322f;
  --text-dark: #202020;
  --text-darkish: #424242;
  --text-mild: #606060;
  --text-light: #9a9a9a;
  --text-lightest: #eaeaea;
  --monospace: "Source Code Pro", "Lucida Console", "Liberation Mono", Menlo,
    Courier, monospace;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif; 
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 18px;
  }
}

h1,h2,h3,h4,h5,h6,.site-title {
  font-family: 'Roboto Slab', Merriweather, Georgia, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 1.66em;
  margin-bottom: 0.66em;
}

code,
pre,
.pkg {
  font-family: var(--monospace);
}
.center > * {
  margin-left: auto;
  margin-right: auto;
}
p.caption {
  font-size: 0.95em;
  color: grey;
  font-style: italic;
  text-align: right;
  margin-top: 0;
}
.figure img.center {
  margin: auto;
}
.figure.thumbnail {
  width: 200px;
  float: left;
  margin-left: 10px;
  border: solid 1px var(--primary-dark);
  border-radius: 5px;
  margin-bottom: 10px;
}

.thumbnail > .caption {
  text-align: center;
  margin-bottom: 0px;
}

.content {
  max-width: 45rem;
}

.iframe-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: #ddd 2px solid;
  box-shadow: #888 0px 5px 8px;
  margin-bottom: 1em;
}
.iframe-container > iframe {
  border: none;
}

a.u-url:hover,
.sidebar a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

code {
  padding: 0.25em 0.25em;
  color: var(--primary-dark);
  background-color: #f9f9f9;
}
pre code,
pre,
code {
  white-space: pre !important;
  word-break: keep-all !important;
  word-wrap: unset !important;
  width: 100%;
  overflow-x: auto !important;
  background: #f8f8f8;
}
pre.r + pre {
  margin-top: -1rem;
  padding: 0.5rem 1rem;
  background: #eee;
}
pre.r + pre > code {
  background: #eee;
}

pre.r {
  padding: 0.5rem 1rem;
  border: 0.25rem solid #eee;
}

@media screen and (min-width: 48em) {
  .post-author {
    display: none !important;
  }
}

.talk-table {
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  vertical-align: top;
  font-size: 1rem;
}

.talk-table td {
  border: 0px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.talk-table tbody tr td:nth-child(odd) {
  font-weight: bold;
  padding-left: 0px;
  vertical-align: top;
}

.talk-table tbody tr:nth-child(odd) td,
.talk-table tbody tr:nth-child(odd) th {
  background-color: #ffffff;
}

.tomorrow-garrick .sidebar {
  background-color: #373b41; /* tomorrow night selection */
}
.tomorrow-garrick .content a {
  color: #cc6666; /* tomorrow night red */
}

.base16-solarized-garrick .sidebar {
  background-color: var(--primary-dark); /* tomorrow night selection */
}
.base16-solarized-garrick .content a {
  color: #dc322f; /* tomorrow night red */
}
.base16-solarized-garrick .content .recent h2 > a {
  color: var(--primary-dark);
}
.base16-solarized-garrick .content .recent h2 > a:hover {
  color: rgba(0, 43, 54, 0.75);
  text-decoration: none;
}
.base16-solarized-garrick .post-content a:hover {
  text-decoration: none;
  background: #fbeaea;
}

/* Sidebar collapse */
.sidebar {
  transition: all 0.1s;
}

.sidebar.collapsed {
  transform: translateX(-100%);
  position: absolute;
}

.container {
  transition: all 0.1s;
}

.container.expanded {
  margin: auto;
}

.hamburger {
  position: fixed;
  top: 1%;
  left: 1%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #f9f9f9;
}

.hamburger-inner.is-active,
.hamburger-inner.is-active::before,
.hamburger-inner.is-active::after {
  background-color: #002b36;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: none !important;
  }
}

@media screen and (min-width: 64em) {
  .hamburger.is-active {
    display: none !important;
  }
}

@media screen and (max-width: 48em) {
  .content {
    padding-top: 2em;
  }
  .container.expanded {
    padding-left: 3em;
  }
}

.post-source a {
  color: #de8381 !important;
  font-weight: normal;
}
.post-source {
  margin-top: -16px;
  margin-bottom: 16px;
}
.posts li {
  line-height: 1.2rem;
}
.posts .post-date {
  margin-top: 0;
}

/*
van11y-accessible-hide-show-aria
https://van11y.net/accessible-hide-show/

<h2 class="js-expandmore">Lorem dolor si amet</h2>
<div class="js-to_expand">
here the hidden content
  </div>
  */
.js-to_expand[aria-hidden="true"],
.js-to_expand[data-hidden="true"] {
  display: none;
}
.expandmore__button {
  background: none;
  font-size: inherit;
  color: inherit;
  border: none;
  padding: inherit;
  font-weight: inherit;
  font-family: inherit;
}
.expandmore__symbol::before {
  content: " ";
  background-image: url(/images/caret-right-solid.svg);
  display: inline-block;
  width: 14px;
  height: 1rem;
  background-repeat: no-repeat;
  margin-bottom: -0.1rem;
}
.expandmore__button[aria-expanded="true"] > .expandmore__symbol::before {
  content: " ";
  background-image: url(/images/caret-down-solid.svg);
  display: inline-block;
  width: 14px;
  height: 1rem;
  background-repeat: no-repeat;
  margin-bottom: -0.1rem;
}
.expand-for-code {
  color: #808080;
  text-align: right;
  width: 100%;
  padding-bottom: 0.25em;
  margin: 0;
}
.expand-for-code > * > .expandmore__symbol::before {
  background: none;
  content: "+ Show ";
  width: auto;
  margin-right: 0.25em;
}
.expand-for-code
  > .expandmore__button[aria-expanded="true"]
  > .expandmore__symbol::before {
  background: none;
  content: "- Hide ";
  width: auto;
  margin-right: 0.25em;
}

.pkg {
  color: #4a5858;
  padding: 0 3px;
  margin: 0 2px;
  border: 1px solid #7c9393;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(124, 147, 147, 1);
  -moz-box-shadow: 2px 2px 0px 0px rgba(124, 147, 147, 1);
  box-shadow: 2px 2px 0px 0px rgba(124, 147, 147, 1);
}

.pkg a:hover,
.pkg a:focus {
  border: none;
  padding: 0 2px !important;
}

/* Post Tags and Categories */
.octicon {
  vertical-align: middle;
}
.post-tags a.p-tag {
  display: inline-block;
  padding: 3px 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  border: solid 1px #dc322f;
  border-radius: 4px;
  break-inside: avoid;
  white-space: nowrap;
}

.post-tags a.p-tag:hover,
.post-tags a.p-tag:active,
.post-tags a.p-tag:focus {
  background: #dc322f;
  color: #fff;
}

.post-tags a.p-category {
  padding: 3px 10px;
  margin-left: 10px;
  text-decoration: none;
  border: solid 1px var(--primary-dark);
  border-radius: 4px;
  color: var(--primary-dark);
}

.post-tags a.p-category:hover,
.post-tags a.category:active,
.post-tags a.p-category:focus {
  background: var(--primary-dark);
  color: #fff;
}
.contact-list {
  display: flex;
  justify-content: flex-start;
}
.contact-list li {
  margin-right: 1em;
}
.contact-list a {
  opacity: 0.6;
  transition: opacity 0.25s linear;
}
.contact-list a:hover {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .contact-list {
    justify-content: center;
  }
}

body.restyled-garrick {
  background: var(--background);
}

.restyled-garrick .sidebar {
  background: var(--background);
  color: var(--primary-light);
  font-size: 14px;
}

.restyled-garrick .sidebar a {
  color: var(--accent-dark);
}

.restyled-garrick .sidebar .contact-list a {
  color: var(--accent-dark);
}

.restyled-garrick .sidebar .site-title .u-url {
  color: var(--primary-dark);
}

.restyled-garrick .sidebar .site-title {
  font-size: 2em;
  word-break: keep-all;
  color: var(--primary-dark);
}

.restyled-garrick .sidebar .lead {
  font-size: 1.25em;
  color: var(--primary-darkish);
}

.restyled-garrick .post-content a,
.restyled-garrick .content .archive a {
  color: var(--accent-dark);
}
.restyled-garrick .content .recent a {
  color: var(--accent-dark);
}
.restyled-garrick .post-content a:hover,
.restyled-garrick .content .archive a:hover {
  text-decoration: none;
  color: var(--accent);
}
.restyled-garrick .recent li {
  list-style: none;
}
.restyled-garrick .recent ul.posts {
  padding-left: 0;
}
.restyled-garrick .content .recent h2 > a {
  color: var(--primary-dark);
}
.restyled-garrick .content .recent h2 > a:hover {
  color: var(--primary-light);
  text-decoration: none;
}

.restyled-garrick .post-date {
  color: var(--text-mild);
}

.restyled-garrick .archive-item .post-date {
  margin-top: 0em;
}

.restyled-garrick .post-source a {
  color: var(--purple) !important;
}

.restyled-garrick h1,
.restyled-garrick h2,
.restyled-garrick h3,
.restyled-garrick h4,
.restyled-garrick h5 {
  color: var(--primary-dark);
}

.restyled-garrick {
  color: var(--text-dark);
}

.restyled-garrick .octicon {
  fill: var(--text-dark);
}

.restyled-garrick strong {
	color: var(--text-darkish);
}

.restyled-garrick .post-tags a.p-category {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.restyled-garrick .post-tags a.p-category:hover,
.restyled-garrick .post-tags a.category:active,
.restyled-garrick .post-tags a.p-category:focus {
  background: var(--primary-dark);
  color: var(--background);
}

.restyled-garrick .post-tags a.p-tag {
  color: var(--orange);
  border-color: var(--orange);
}
.restyled-garrick .post-tags a.p-tag:hover,
.restyled-garrick .post-tags a.p-tag:active,
.restyled-garrick .post-tags a.p-tag:focus {
  background: var(--orange);
  color: var(--background);
}

.restyled-garrick .pkg {
  background-color: var(--background);
  color: var(--accent-dark);
  border: 1px solid var(--accent-dark);
  border-radius: 3px;
  box-shadow: none;
}

.restyled-garrick .pkg a {
  color: var(--accent-dark);
  padding: 0 3px !important;
  height: 100%;
  width: 100%;
  background: rgba(44, 132, 117, 0.15);
  margin-left: -3px;
  margin-right: -3px;
}

.restyled-garrick .pkg a:hover,
.restyled-garrick .pkg a:focus {
  color: var(--red);
}

.restyled-garrick p code,
.restyled-garrick li code {
  color: var(--red);
  font-size: 0.925em;
  background: none;
}

.restyled-garrick p a code {
  color: var(--red);
  text-decoration: underline;
}

.restyled-garrick .caption {
  color: var(--text-light);
}

.restyled-garrick .hamburger-inner,
.restyled-garrick .hamburger-inner::before,
.restyled-garrick .hamburger-inner::after {
  background-color: var(--primary-light);
}

.restyled-garrick .hamburger-inner.is-active,
.restyled-garrick .hamburger-inner.is-active::before,
.restyled-garrick .hamburger-inner.is-active::after {
  background-color: var(--primary-light);
}

.restyled-garrick .sidebar .sidebar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.restyled-garrick .sidebar .sidebar-nav > * {
  min-width: 150px;
  margin-bottom: 1em;
}

.restyled-garrick .sidebar-nav a,
.restyled-garrick .sidebar-nav a:hover {
  color: var(--accent-dark);
}

@media screen and (min-width: 48em) {
  .restyled-garrick .sidebar .sidebar-nav {
    justify-content: left;
  }
  .restyled-garrick .sidebar .sidebar-nav > * {
    min-width: 100px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .restyled-garrick .sidebar .sidebar-nav > * {
    margin-bottom: 0;
  }
}

/* WARNING: The following work for .restyled-garrick and may need to be revisted */
@media screen and (min-width: 48em) and (max-width: 64em) {
  .restyled-garrick .content:not(.expanded) {
    margin-left: 16rem;
  }
  .restyled-garrick .sidebar {
    max-width: 16rem;
  }
}

.restyled-garrick .archive-item {
  position: relative;
  text-indent: -1em;
  margin-left: 1em;
  margin-bottom: 0.66em;
  padding-right: 4em;
  line-height: 1.25;
}

.restyled-garrick .archive-item time {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-darkish);
}

.restyled-garrick td, .restyled-garrick th {
  border-color: var(--text-lightest)
}

.restyled-garrick tbody tr:nth-child(2n+1) td, 
.restyled-garrick tbody tr:nth-child(2n+1) th {
  background-color: var(--text-lightest)
}

.restyled-garrick .talk-table td, 
.restyled-garrick .talk-table th {
  border: none;
}

.restyled-garrick .talk-table tbody tr:nth-child(2n+1) td, 
.restyled-garrick .talk-table tbody tr:nth-child(2n+1) th {
  background: var(--background);
}

.restyled-garrick .hljs-keyword, .restyled-garrick .hljs-selector-tag, .restyled-garrick .hljs-subst {
  color: var(--text-darkish);
}

.restyled-garrick .hljs-string, .restyled-garrick .hljs-doctag {
  color: var(--primary-light);
}

.restyled-garrick .hljs-title, .restyled-garrick .hljs-section, .restyled-garrick .hljs-selector-id {
  color: var(--red);
  font-weight: bold;
}

.restyled-garrick .hljs-symbol, .restyled-garrick .hljs-bullet {
  color: var(--purple);
}

.restyled-garrick .hljs-tag, .restyled-garrick .hljs-name, .restyled-garrick .hljs-attribute {
  color: var(--primary-accent);
  font-weight: normal;
}

/* ---- DARK MODE !!!! ---- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --primary-dark: #eaeaea;
    --primary-light: #887ba3;
    --text-dark: #ccc;
    --text-light: #828282;
    --text-lightest: #626262;
    --text-darkish: #bbb;
    --code-background: #202020;
  }
  
  .restyled-garrick .caption {
    color: var(--text-mild);
  }
  
  .restyled-garrick p code, .restyled-garrick li code {
    color: var(--orange);
  }
    
  pre code, pre, code {
    background: var(--code-background);
  }
  
  pre.r {
    border-color: #424242;
  }
  
  pre.r + pre,
  pre.r + pre > code {
    background: var(--code-background);
  }
  
  .hljs {
    color: var(--text-dark);
    background: var(--code-background);
  }
  
  hr {
    border-color: var(--text-mild);
  }
  
  blockquote {
    border-left-color: var(--text-mild);
    color: var(--text-dark);
  }
  
  /* Dim Images Except on Hover */
  img {
    opacity: .5;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
  
  .featherlight.featherlight .featherlight-content {
    background: var(--background);
  }
  
  .featherlight.featherlight .featherlight-close-icon {
    background: var(--background);
    color: var(--text-dark);
  }
}

/* -------- Table of Contents -------- */
.table-of-contents {
  position: sticky;
  top: 2em;
  margin-right: -300px;
  width: 290px;
  font-size: 0.85em;
  float: right;
}
.table-of-contents ul {
  list-style: none;
  line-height: 1;
  padding-left: 15px;
}
.table-of-contents ul li {
  margin-bottom: 8px;
  text-indent: -8px;
  padding-left: 8px;
}
.table-of-contents ul ul {
  margin-top: 8px;
  margin-bottom: 8px;
}
.table-of-contents ul > li > ul > li {
  margin-bottom: 5px;
}
.table-of-contents a {
  color: var(--text-light);
}
.table-of-contents a:hover {
  color: var(--text-darkish);
}
@media screen and (max-width: 1449px) {
  .table-of-contents {
    display: none;
  }
}
