@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,200;1,500&display=swap');
@import '_syntax';

@media screen and (min-width: 56em) {
  html {
    font-size: 1.1em;
  }
}

code,
.code {
  font-family: 'IBM Plex Mono', Consolas, monaco, monospace;
  font-size: 0.95em;
  font-weight: 400;
}

.highlight {
  font-size: 1em;
  pre {
    @extend .br0;
    background-color: var(--preBgColorCustom) !important;
  }
}

pre {
  @extend .ph3, .pv2;
  border-left: 4px solid var(--slate-80) !important;
  border-radius: 0;
  background-color: var(--preBgColorCustom);
  line-height: 1.33;
}

.post-body > p > code,
.page-body > p > code {
  background-color: unset;
}

hr {
  border-color: var(--slate-50);
}

.post-body p {
  line-height: 1.5;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;
  }
}

a {
  text-underline-offset: 3px;
}

.site-links {
  a::after {
    height: 0.15em;
  }

  a.active::after {
    height: 0.15em;
  }

  a {
    color: var(--textColorCustom);
  }
}

.bg-custom-nav-bg-color,
.site-links a::after,
.site-links a.active::after {
  background-color: var(--red-50);
}

.summary-post-date {
  @extend .tl;
  font-variant-numeric: tabular-nums;
  min-width: max-content;
  align-self: baseline;
}

.anchor-link {
  @extend .o-40, .glow, .code, .normal;
  color: inherit !important;
  position: absolute;
  margin-left: 10px;
}

.lead {
  @extend .f4, .lh-copy, .avenir;
}

.figure {
  @extend .mb4;
  .caption {
    @extend .tr, .i, .mt2;
  }
}

pre {
  @extend .ph0;
  border: none;
}

post-body ul:not(.panel-tabs),
.post-body ol,
.post-body dl,
.page-body ul:not(.panel-tabs),
.page-body ol,
.page-body dl,
.post-body blockquote,
.page-body blockquote {
  max-width: 100%;
}

.f7,
figure figcaption p,
figure figcaption h4,
.post-body>.footnotes,
.page-body>.footnotes,
.post-body>table th,
.page-body>table th {
  font-size: 0.9rem;
}


:root {
  --scrollbarBgColor: var(--siteBgColorCustom);
  --scrollbarColor: var(--slate-70);
}
*::-webkit-scrollbar {
  width: 10px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) var(--scrollbarBgColor);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBgColor);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor) ;
  border-radius: 0;
  border: 3px solid var(--scrollbarBgColor);
}

@import '_dark', '_panelset-extras';
