// https://accessiblepalette.com/?lightness=98.2,93.9,85,76.2,67.4,57.8,48,40.2,31.8,24.9&f95063=0,0&f18d02=0,0&75c281=0,-16&107685=0,0&2C2857=0,0&d661a7=0,0&22404C=0,0
:root {
  --red-100: #fff8f9;
  --red-90: #fee8eb;
  --red-80: #fdc7cd;
  --red-70: #fca4ae;
  --red-60: #fb7e8c;
  --red-50: #f54f61;
  --red-40: #c94150;
  --red-30: #a83643;
  --red-20: #852b35;
  --red-10: #6a222a;
  --orange-100: #fef9f2;
  --orange-90: #fdebd3;
  --orange-80: #f9cd91;
  --orange-70: #f5ae4b;
  --orange-60: #ef8c02;
  --orange-50: #cb7702;
  --orange-40: #a76101;
  --orange-30: #8b5101;
  --orange-20: #6e4001;
  --orange-10: #573301;
  --green-100: #f6fbf7;
  --green-90: #e2f2e3;
  --green-80: #b9deb9;
  --green-70: #93ca8d;
  --green-60: #7ab26f;
  --green-50: #69965d;
  --green-40: #587b4b;
  --green-30: #4b663d;
  --green-20: #3c5130;
  --green-10: #304025;
  --blue-100: #f7fafb;
  --blue-90: #e4f0f1;
  --blue-80: #bed9de;
  --blue-70: #97c4ca;
  --blue-60: #71aeb7;
  --blue-50: #4896a1;
  --blue-40: #1c7d8b;
  --blue-30: #0e6876;
  --blue-20: #0b535d;
  --blue-10: #09414a;
  --purple-100: #fafafb;
  --purple-90: #ededf1;
  --purple-80: #d4d3dd;
  --purple-70: #bcbac9;
  --purple-60: #a4a2b6;
  --purple-50: #8a88a2;
  --purple-40: #716f8e;
  --purple-30: #5e5b7f;
  --purple-20: #4a466f;
  --purple-10: #3a3662;
  --pink-100: #fdf9fb;
  --pink-90: #f9e9f3;
  --pink-80: #f1c9e1;
  --pink-70: #e9a9cf;
  --pink-60: #e088bd;
  --pink-50: #d661a7;
  --pink-40: #b0508a;
  --pink-30: #934373;
  --pink-20: #74355b;
  --pink-10: #5c2a48;
  --slate-100: #f9fafa;
  --slate-90: #ebeeef;
  --slate-80: #cfd5d8;
  --slate-70: #b3bec2;
  --slate-60: #99a6ac;
  --slate-50: #7c8e95;
  --slate-40: #60757e;
  --slate-30: #4a636c;
  --slate-20: #334f5a;
  --slate-10: #213f4b;
  --slate-00: #0e181e;
  // set your custom colors here
  --siteBgColorCustom: var(--slate-100);
  --textColorCustom: var(--slate-00);
  --preBgColorCustom: var(--slate-100);
  --sidebarBgColorCustom: #fcfcfc;
  --sidebarTextColorCustom: #22404c;
  --bodyLinkColorCustom: var(--blue-30);
  --headlineColorCustom: var(--blue-30);
  --headingColorCustom: var(--blue-10);
  --navLinkColorCustom: var(--blue-20);
  --sidebarLinkColorCustom: #2c2857;
  --footerTextColorCustom: var(--slate-10);
  --buttonTextColorCustom: var(--blue-20);
  --buttonHoverTextColorCustom: var(--blue-90);
  --buttonBgColorCustom: var(--blue-90);
  --buttonHoverBgColorCustom: var(--blue-20);
  --borderColorCustom: var(--slate-80);
  --font-monospace: 'IBM Plex Mono', Consolas, monaco, monospace;
}

// set your custom colors here
$siteBgColorCustom: var(--siteBgColorCustom);
$textColorCustom: var(--textColorCustom);
$sidebarBgColorCustom: var(--sidebarBgColorCustom);
$sidebarTextColorCustom: var(--sidebarTextColorCustom);
$headlineColorCustom: var(--headlineColorCustom);
$headingColorCustom: var(--headingColorCustom);
$bodyLinkColorCustom: var(--bodyLinkColorCustom);
$navLinkColorCustom: var(--navLinkColorCustom);
$sidebarLinkColorCustom: var(--sidebarLinkColorCustom);
$footerTextColorCustom: var(--footerTextColorCustom);
$buttonTextColorCustom: var(--buttonTextColorCustom);
$buttonHoverTextColorCustom: var(--buttonHoverTextColorCustom);
$buttonBgColorCustom: var(--buttonBgColorCustom);
$buttonHoverBgColorCustom: var(--buttonHoverBgColorCustom);
$borderColorCustom: var(--borderColorCustom);
